html {

    background: url("files//Backgrounds//Index.png") no-repeat fixed;
    background-size: cover;
    background-position: center;
	color: #ffffff; 
	font-family: 'PT Sans', sans-serif;
	font-size: 200%;
	text-align: center;
}


li a {
    
    display: block;
	text-decoration: none;
    padding: 1em 1em 1em 1em;	
}

.pracButton {

    background-color: rgba( 77, 73, 73, 0.8 );
	border: 4px solid #000000;
    border-radius: 10em;
	padding: 1% 1% 1% 1%;
    margin: 5% 1% 5% 1%;
}

.pracButton:hover {

    background-color: #808080;
    color: #cce6ff;
}

a.pracButton {

    color: #ffffff;
    text-decoration: none;
}

.name {

    color: #266064;
	font-size: 200%;
    padding: 10% 10% 10% 10%;
}
